.content-wrapper {
  margin: 0 0 5rem;
  min-height: 500px;
}

.section-container {
  display: flex;
  flex-direction: column;
}

.section-lookingFor {
  margin: 3rem 0 0;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1025px) {
  .section-wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
